.square-cell {
    width: 66px !important;
    height: 66px !important;
    position: relative;
}

.sub-text {
    margin-top: 3px;
    margin-left: 3px;
    font-size: 12px;
    color: grey;
}

.date-text {
    margin: 18% !important;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.main-text {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.header-text {
    margin: 11% !important;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
}

.borderless {
    border: none !important;
}

.input-text {
    border: none transparent;
    width: 60px;
    height: 60px;
    outline: none;
}

.btn {
    margin: 2% !important;
    width: 29%;
}