.sub-text {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 3px;
    margin-left: 3px;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

.square-table {
    width: 540px !important;
    height: 525px!important;
    margin-left: 8% !important;
    border: 2px solid #0d71bb !important;
}

.inner-cell {
    border: 1.5px solid #0d71bb !important;
}

.clue-text {
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
}

.clue-header {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 800;
    color: #0d71bb !important;
}

.date-text {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 32px;
    margin-left: 50px;
    font-weight: 500;
    text-align: center;
}

.main-text {
    font-family: "Lucida Console", Monaco, monospace;
    margin-left: 8px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.header-text {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 50px;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}

.borderless {
    border: none !important;
}

.input-bar {
    border: none transparent;
    width: 55px;
    height: 55px;
    outline: none;
}